* {
  box-sizing: border-box !important;
  margin: 0 !important;
}
button {
  padding: 0.25rem 1rem;
}
.on {
  background-color: green;
  transform: translateX(50%);
}
.off {
  background-color: red;
  transform: translateX(-50%);
}
.drum-pad {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  box-shadow: 3px 3px 0 0 black;
  border-radius: 0.5rem;
  cursor: pointer;
}
.drum-pad p {
  pointer-events: none;
}
#hookContainer {
  background-color: pink;
}
#drum-machine {
  background-color: lightgrey;
  width: 40%;
  height: 40%;
  padding: 1rem;
  border: 4px solid orange;
}
#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  #drum-machine {
    width: 100%;
    height: 70%;
  }
}
